*,
html,
body {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

input {
  outline: none;
}

:root {
  --gray20: #ffffff7a;
  --gray5: #cccccc;
  --gray10: #c4c4c4;
  --gray15: #999999;
  --gray18: #ffffff7a;
  --gray20: #666666;
  --pink10: #f7dddd;
  --blue10: #2bd8ff;
  --red10: #ff7979;
  --red20: #ff0000;
}
