*,
html,
body {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
