.header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.link {
  font-size: 22px;
}

.link:hover {
  color: darkgreen;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile .profileDropdown {
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  top: 2.5rem;
}

.profile:hover .profileDropdown {
  display: block;
}

.logoutButton {
  padding: 0.5rem;
  font-size: 16px;
  text-align: center;
  border-radius: 0.5rem;
}
